<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <script src="./js/page-manager.js"></script>
    <script src="./js/editor.js"></script>
    <title>Entries</title>
</head>
<body>
    <button onclick="handleNewEntry()" class="new_b">Neue Entry</button>
    <h1>entries</h1>
    <div class="page-interaction-container">
        <button onclick="handlePageButton(false)">-</button>

        <h3 id="page_status">numero</h3>

        <!-- <button onclick="checkHeight()">+</button> -->
        <button onclick="handlePageButton(true)">+</button>
    </div>
    <ol class="entry-list" id="list">
        <%jsonResults.forEach(elem => {%>
            <li class="fade-in" id=<%="entry_id_" + elem.EventId %>>
                <div class="entry-title">
                    <h3><%= elem.EventDate %></h3>
                    <h3><%= elem.EventLoc %></h3>
                </div>
                <% if(elem.Objects){%>
                    <ol>
                        <% elem.Objects.split(',').forEach( el => { %>
                            <li>
                                <h4><%= el %></h4>
                            </li>
                        <% }); %>
                    </ol>
                    
                <% } else {%>
                    <h4 class="no-objects">Keine Objekte</h4>
                <% } %>
                <button onclick=<%="handleEditButtonPressed('entry_id_" + elem.EventId + "')"%>>mehr</button>
            </li>
        <%}); %>
    </ol>

    <div class="entry-editor">
            
        <button onclick="handleDeleteEntry()" class="los_b" id="los_b">Entry Löschen</button>
        <div class="editor-map-container">
            <h1>map</h1>
        </div>
        <div class="editor-input-container">
            <input type="number" name="editor_day" id="editor_day" placeholder="tt" disabled min="1" max="31" onchange="checkMinMax(this)">
            <input type="number" name="editor_month" id="editor_month" placeholder="mm" min="1" max="12"disabled onchange="checkMinMax(this)">
            <input type="number" name="editor_year" id="editor_year" placeholder="jjjj" min="2018" max="2200" disabled onchange="checkMinMax(this)">
            <input type="text" placeholder="Ort" id="editor_place" disabled>
            <input type="hidden" id="editor_id">
            <h3>Objekte</h3>
            <div class="editor-object-container" id="editor_objects">
                <input type="text" disabled>
            </div>
            <button id="add_b" class="add-button" onclick="handleAddObjectPressed()" disabled>+</button>
            <button id="del_b" class="del-button" onclick="handleDeleteObjectPressed()" disabled>-</button>
            <button id="can_b" class="cancel-button" onclick="handleCancelEditPressed()" disabled>abbrechen</button>
            <button id="end_b" class="end-button" onclick="handleSaveEditPressed()" disabled>fertig</button>
            <div class="extra-space"></div>
        </div>
    </div>
    
   
    
    
</body>
</html>