<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./less/main.css">
    <script src="./js/main.js"></script>
    <title>Entries</title>
</head>
<body>
    <h1>entries</h1>
    <ol class="entry-list">
        <%var i = 0;%>
        <%jsonResults.forEach(elem => {%>
            <li class="fade-in" id=<%="entry_id_" + i %>>
                <div class="entry-title">
                    <h3><%= elem.EventDate %></h4>
                    <h3><%= elem.EventLoc %></h4>
                </div>
                <% if(elem.Objects){%>
                    <ol>
                        <% elem.Objects.split(',').forEach( el => { %>
                            <li>
                                <h4><%= el %></h4>
                            </li>
                        <% }); %>
                    </ol>
                    
                <% } else {%>
                    <h4 class="no-objects">Keine Objekte</h4>
                <% } %>
                <button onclick=<%="handleEditButtonPressed('entry_id_" + i + "')"%>>mehr</button>
            </li>
            <%i++;%>
        <%}); %>
    </ol>

    <div class="entry-editor">
        <div class="editor-map-container">
            <h1>map</h1>
        </div>
        <div class="editor-input-container">
            <input type="text" placeholder="Datum" id="editor_date" disabled>
            <input type="text" placeholder="Ort" id="editor_place" disabled>
            <h3>Objekte</h3>
            <div class="editor-object-container" id="editor_objects">
                <input type="text" disabled>
            </div>
            <button id="add_b" class="add-button" onclick="handleAddObjectPressed()" disabled>+</button>
            <button id="del_b" class="del-button" onclick="handleDeleteObjectPressed()" disabled>-</button>
            <button id="end_b" class="end-button" onclick="handleSaveEditPressed()" disabled>fertig</button>
            <div class="extra-space"></div>
        </div>
    </div>
    
   
    
    
</body>
</html>